@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
media query manager
0 - 600      phone
600-900      tablet portrait
900-1200     tablet landscape
1200-1800    normal style
1800   +     big distop
*/

/*
  $breakpoint choices
  - phone
  - tab-port
  - tab-land
  - big-destop
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      //60px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      // 900px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      // 1200px
      @content;
    }
  }
  @if $breakpoint == big-destop {
    @media (min-width: 112.5em) {
      // 1800px
      @content;
    }
  }
}
